.dw-50 input{
    width:300px
  }
  .input4 {
    background-color: var(--bs-gray-100);
    border-color: var(--bs-gray-100);
    color: var(--bs-gray-700);
    transition: color 0.2s ease;
    padding: 0.775rem 3rem 0.775rem 1rem;
   
  }

  .input5 {
    background: var(--text-10, #f9fafb);
    border-radius: 4px;
    border-style: solid;
    border-color: var(--text-8, #e5e7eb);
    border-width: 1px;
    padding: 6px 8px 6px 12px !important;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
 
  }
  .flatpickr-input {
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M7.99997 0.150024C8.46941 0.150024 8.84997 0.530582 8.84997 1.00002V2.15002H14.6L14.637 2.15002C14.8137 2.15002 14.9846 2.15002 15.15 2.15027V1.00002C15.15 0.530582 15.5305 0.150024 16 0.150024C16.4694 0.150024 16.85 0.530582 16.85 1.00002V2.17913C17.0059 2.18651 17.1546 2.19576 17.2964 2.20734C18.016 2.26614 18.6342 2.38943 19.2018 2.67864C20.1144 3.14363 20.8564 3.88558 21.3214 4.79817C21.6106 5.36579 21.7339 5.98404 21.7927 6.70362C21.85 7.40535 21.85 8.27432 21.85 9.3631V9.40003V14.6V14.637C21.85 15.7257 21.85 16.5947 21.7927 17.2964C21.7339 18.016 21.6106 18.6343 21.3214 19.2019C20.8564 20.1145 20.1144 20.8564 19.2018 21.3214C18.6342 21.6106 18.016 21.7339 17.2964 21.7927C16.5947 21.85 15.7257 21.85 14.637 21.85H14.6H9.39997H9.36294C8.27421 21.85 7.40527 21.85 6.70356 21.7927C5.98399 21.7339 5.36574 21.6106 4.79812 21.3214C3.88553 20.8564 3.14357 20.1145 2.67859 19.2019C2.38937 18.6343 2.26608 18.016 2.20729 17.2964C2.14996 16.5947 2.14996 15.7258 2.14997 14.637L2.14997 14.6V8.64708L2.14994 8.47571C2.14952 7.10812 2.14925 6.21103 2.40139 5.45873C2.88473 4.01663 4.01658 2.88479 5.45868 2.40145C5.9363 2.24136 6.47228 2.18302 7.14997 2.16187V1.00002C7.14997 0.530582 7.53053 0.150024 7.99997 0.150024ZM15.15 3.85033V4.00002C15.15 4.46947 15.5305 4.85002 16 4.85002C16.4694 4.85002 16.85 4.46947 16.85 4.00002V3.88118C16.9574 3.88691 17.0598 3.89368 17.1579 3.9017C17.7724 3.9519 18.142 4.0466 18.43 4.19335C19.0228 4.49536 19.5046 4.97724 19.8066 5.56995C19.9534 5.85798 20.0481 6.22761 20.0983 6.84205C20.1493 7.46642 20.15 8.26589 20.15 9.40003V14.6C20.15 15.7342 20.1493 16.5336 20.0983 17.158C20.0481 17.7724 19.9534 18.1421 19.8066 18.4301C19.5046 19.0228 19.0228 19.5047 18.43 19.8067C18.142 19.9535 17.7724 20.0481 17.1579 20.0984C16.5336 20.1494 15.7341 20.15 14.6 20.15H9.39997C8.26584 20.15 7.46636 20.1494 6.84199 20.0984C6.22755 20.0481 5.85793 19.9535 5.5699 19.8067C4.97719 19.5047 4.4953 19.0228 4.1933 18.4301C4.04654 18.1421 3.95185 17.7724 3.90164 17.158C3.85063 16.5336 3.84997 15.7342 3.84997 14.6V8.64708C3.84997 7.04585 3.86108 6.45304 4.01326 5.99898C4.32719 5.06236 5.0623 4.32724 5.99893 4.01332C6.27072 3.92222 6.59223 3.88167 7.14997 3.8638V4.00002C7.14997 4.46947 7.53053 4.85002 7.99997 4.85002C8.46941 4.85002 8.84997 4.46947 8.84997 4.00002V3.85002H14.6C14.7927 3.85002 14.9758 3.85004 15.15 3.85033ZM6.14998 8.00002C6.14998 7.53058 6.53054 7.15002 6.99998 7.15002H17C17.4694 7.15002 17.85 7.53058 17.85 8.00002C17.85 8.46947 17.4694 8.85003 17 8.85003H6.99998C6.53054 8.85003 6.14998 8.46947 6.14998 8.00002ZM15 16.15C14.5305 16.15 14.15 16.5306 14.15 17C14.15 17.4695 14.5305 17.85 15 17.85H17C17.4694 17.85 17.85 17.4695 17.85 17C17.85 16.5306 17.4694 16.15 17 16.15H15Z' fill='grey'/%3E%3C/svg%3E" );  */
  background-repeat: no-repeat;  
  background-position: right;
  padding:0.775rem 2.5rem;  
  width: 100%;
  }

  

