.seacrhCell {
  /* background: var(--text-8, #e5e7eb); */
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  box-shadow: inset 0px -1px 0px 0px rgba(229, 231, 235, 1);
  color: var(--text- 2, #1f2937);
  text-align: left;
  flex: 1;
  direction: rtl;
}

.columnTitle {
  color: var(--text-2, #1f2937);
  text-align: center;
  font: var(--text-semibold-2, 600 14px/24px "SF Pro Display", sans-serif);
  position: relative;
}


.cellText {
  color: var(--text-2, #1f2937);
  text-align: right;
  font: var(--text-regular-2, 400 14px/24px "FrutigerLTArabic-Light_0", sans-serif) !important;
  position: relative;
  flex: 1;
}

.urgent {
  background: var(--system-warning-5, #ef4444);
  border-radius: 4px;
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  color: var(--shadow-2, #ffffff);
  text-align: left;
  font: var(--small-medium, 500 12px/14px "SF Pro Display", sans-serif);
  display: flex;
}

.normal {
  background: var(--system-success-5, #10b981);
  border-radius: 4px;
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  color: var(--shadow-2, #ffffff);
  text-align: left;
  font: var(--small-medium, 500 12px/14px "SF Pro Display", sans-serif);
  align-items: center;
}

.topurgent {
  background: #ff8142;
  border-radius: 4px;
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  color: var(--shadow-2, #ffffff);
  text-align: left;
  font: var(--small-medium, 500 12px/14px "SF Pro Display", sans-serif);
  align-items: center;
}

.immediate {
  background: #dc2626;
  border-radius: 4px;
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  color: var(--shadow-2, #ffffff);
  text-align: left;
  font: var(--small-medium, 500 12px/14px "SF Pro Display", sans-serif);
  align-items: center;
}

.inProgress {
  background: var(--mod-status-inprogress-lightbackground) !important; 

  border-radius: 4px;
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: var(--mod-status-inprogress-darkfontcolor) !important; 

  text-align: left;
  font: var(--small-medium, 500 12px/14px "SF Pro Display", sans-serif);
  position: relative;
}

.onHold {
  background: var(--mod-status-onhold-lightbackground) !important; 

  border-radius: 4px;
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  color: var(--mod-status-onhold-darkfontcolor) !important; 

  text-align: left;
  font: var(--small-medium, 500 12px/14px "SF Pro Display", sans-serif);
}
.rejected {
  background: var(--mod-status-rejected-lightbackground) !important; 

  border-radius: 4px;
  padding: 4px 8px;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: var(--mod-status-rejected-darkfontcolor) !important; 

  text-align: right;
  font: var(--small-medium, 500 12px/17px "SF Pro Display", sans-serif);
  position: relative;
  display: flex;  
}
.notStarted {
  background: var(--mod-status-notstarted-lightbackground) !important; 

  border-radius: 4px;
  padding: 4px 8px;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: var(--mod-status-notstarted-darkfontcolor) !important; 

  text-align: left;
  font: var(--small-medium, 500 12px/14px "SF Pro Display", sans-serif);
  position: relative;
  display: flex;
}
.cancelled,.Cancelled {
  background: var(--mod-status-cancelled-lightbackground) !important; 

  border-radius: 4px;
  padding: 4px 8px;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: var(--mod-status-cancelled-darkfontcolor) !important; 

  text-align: left;
  font: var(--small-medium, 500 12px/14px "SF Pro Display", sans-serif);
  position: relative;
  display: flex;
}

.completed {
  background: var(--mod-status-completed-lightbackground) !important;

  border-radius: 4px;
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: var(--mod-status-completed-darkfontcolor) !important; 

  text-align: left;
  font: var(--small-medium, 500 12px/14px "SF Pro Display", sans-serif);
  position: relative;
}

.topSecret,
.topsecret {
  background: var(--system-warning-10, #fef2f2);
  border-radius: 4px;
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: var(--system-warning-4, #dc2626);
  text-align: left;
  font: var(--small-medium, 500 12px/14px "SF Pro Display", sans-serif);
  position: relative;
  align-items: center;
}

.secret {
  background: var(--primary-100, #fff2ec);
  border-radius: 4px;
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  color: var(--primary-base, #ff8142);
  text-align: left;
  font: var(--small-medium, 500 12px/14px "SF Pro Display", sans-serif);
}

.unclassified {
  background: var(--system-success-9, #d1fae5);
  border-radius: 4px;
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: var(--system-success-4, #059669);
  text-align: left;
  font: var(--small-medium, 500 12px/14px "SF Pro Display", sans-serif);
  position: relative;
}

.confidential {
  background: var(--system-error-9, #fef3c7);
  border-radius: 4px;
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  color: var(--system-error-5, #f59e0b);
  text-align: left;
  font: var(--small-medium, 500 12px/14px "SF Pro Display", sans-serif);
}

.days3minus {
  background: var(--system-warning-10, #fef2f2);
  border-radius: 4px;
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: var(--system-warning-4, #dc2626);
  text-align: left;
  font: var(--small-medium, 500 12px/14px "SF Pro Display", sans-serif);
  position: relative;
}

.days9minus {
  background: var(--system-error-9, #fef3c7);
  border-radius: 4px;
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: var(--system-error-4, #d97706);
  text-align: left;
  font: var(--small-medium, 500 12px/14px "SF Pro Display", sans-serif);
  position: relative;
}

.days9plus {
  color: var(--system-success-4, #059669);
  text-align: left;
  font: var(--small-medium, 500 12px/14px "SF Pro Display", sans-serif);
  align-items: center;
  background: var(--system-success-10, #ecfdf5);
  border-radius: 4px;
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  text-decoration: underline;
}

.concealed {
  background: var(--text-9, #f3f4f6);
  border-radius: 4px;
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  text-align: right;
  font: var(--small-medium, 500 12px/17px 'Roboto', sans-serif);
}

.daily{
  background: var(--primary-10, #efe7da);
  border-radius: 4px;
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  color: var(--primary-4, #af8848);  
  font: var(--small-medium, 500 12px/17px "Roboto", sans-serif);  
}

.pastDate{
  background: var(--system-warning-10, #FEF2F2);
  padding: 4px 8px;
  border-radius: 4px;
  font: var(--small-medium, 500 12px/14px "SF Pro Display", sans-serif);
  color: var(--system-warning-4, #DC2626);
}

.validDate{
  background: var(--system-success-10, #ECFDF5);
  padding: 4px 8px;
  border-radius: 4px;
  font: var(--small-medium, 500 12px/14px "SF Pro Display", sans-serif);
  color: var(--system-success-4, #059669);
}

.overdue{
  background: var(--system-warning-10, #FEF2F2);
  border-radius: 4px;
  padding: 4px 8px;
  color: var(--system-warning-4, #DC2626);
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-align: left;
  font: var(--small-medium, 500 12px/14px "SF Pro Display", sans-serif);
  position: relative;
}

.search,
.search * {
  box-sizing: border-box;
}
.search {
  /* margin-bottom: 13px; */
  background: var(--shadow-2, #ffffff);
  border-radius: 8px;
  border-style: solid;
  border-color: var(--text-8, #e5e7eb);
  border-width: 1px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: center;
  justify-content: flex-start;
  width: 273px;
  position: relative;
}
.icon-stroke-search {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.search2 {
  color: var(--text-6, #9ca3af);
  text-align: left;
  font: var(--title-medium-2, 500 14px/24px "Roboto", sans-serif);
  position: relative;
  /* flex: 1; */
}

.high {
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  background:  #EF4444;
  color: var(--shadow-2, #FFF);
  /* Small/medium */
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px; /* 141.667% */
}

.medium {
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  background: #F59E0B;
  color: var(--shadow-2, #FFF);
  /* Small/medium */
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px; /* 141.667% */
}

.low {
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  background: #10B981;
  color: var(--shadow-2, #FFF);
  /* Small/medium */
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px; /* 141.667% */
}

.approvedMRecap{
  background: var(--primary-10, #efe7da);
  border-radius: 4px;
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  color: var(--primary-4, #af8848);  
  font: var(--small-medium, 500 12px/17px "Roboto", sans-serif);  
}

.pendingMRecap{
  background: var(--system-warning-7, #fca5a5);
  border-radius: 4px;
  padding: 4px 8px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  color: var(--system-warning-2, #991b1b);
  font: var(--small-medium, 500 12px/17px "Roboto", sans-serif);  
}

.dataTableTest{
  background: var(--shadow-2, #FFF);
}

.DAS-chip .MuiChip-deleteIcon {
  margin: 0px !important;
}

.sortArrowUp{
  padding: 2px;
  color: inherit;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  opacity: 0;
}

.sortArrowDown{
  padding: 2px;
  color: inherit;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  opacity: 0;
  transform: rotate(180deg);
}