.fileupload .fSJoHQ{
border : 2px dashed #e5e7eb !important;
max-width: 100% !important;
}

.fileupload svg,.fileupload svg:hover,
.fileupload svg:focus {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M21.85 13.9996C21.85 13.5302 21.4695 13.1496 21 13.1496C20.5306 13.1496 20.15 13.5302 20.15 13.9996L20.15 15.1996C20.15 16.0537 20.1494 16.6432 20.112 17.1008C20.0754 17.5485 20.0079 17.7946 19.9157 17.9757C19.7096 18.3802 19.3807 18.7091 18.9761 18.9153C18.795 19.0075 18.5489 19.075 18.1012 19.1116C17.6436 19.1489 17.0541 19.1496 16.2 19.1496L7.80002 19.1496C6.94592 19.1496 6.35646 19.1489 5.89885 19.1116C5.45116 19.075 5.20502 19.0075 5.02395 18.9153C4.6194 18.7091 4.29049 18.3802 4.08436 17.9757C3.9921 17.7946 3.92465 17.5485 3.88807 17.1008C3.85069 16.6432 3.85002 16.0537 3.85002 15.1996L3.85002 13.9996C3.85002 13.5302 3.46947 13.1496 3.00002 13.1496C2.53058 13.1496 2.15002 13.5302 2.15002 13.9996L2.15002 15.1996L2.15002 15.2355C2.15001 16.0451 2.15001 16.7042 2.19372 17.2392C2.23889 17.792 2.33493 18.2868 2.56965 18.7475C2.93876 19.4719 3.52774 20.0609 4.25216 20.43C4.71283 20.6647 5.20759 20.7607 5.76041 20.8059C6.29543 20.8496 6.95454 20.8496 7.76417 20.8496L7.80002 20.8496L16.2 20.8496L16.2359 20.8496C17.0455 20.8496 17.7046 20.8496 18.2396 20.8059C18.7925 20.7607 19.2872 20.6647 19.7479 20.43C20.4723 20.0609 21.0613 19.4719 21.4304 18.7475C21.6651 18.2868 21.7612 17.792 21.8063 17.2392C21.85 16.7042 21.85 16.0451 21.85 15.2354L21.85 15.1996L21.85 13.9996ZM12.6011 3.39855C12.2691 3.0666 11.7309 3.0666 11.399 3.39855L7.399 7.39855C7.06706 7.73049 7.06706 8.26868 7.399 8.60063C7.73095 8.93257 8.26914 8.93257 8.60108 8.60063L11.15 6.05167L11.15 13.9996C11.15 14.469 11.5306 14.8496 12 14.8496C12.4695 14.8496 12.85 14.469 12.85 13.9996L12.85 6.05167L15.399 8.60063C15.7309 8.93257 16.2691 8.93257 16.6011 8.60063C16.933 8.26868 16.933 7.73049 16.6011 7.39854L12.6011 3.39855Z' fill='grey'/%3E%3C/svg%3E" );
    background-repeat: no-repeat;  
    background-position: right;
    padding:0.775rem 2.5rem;   
}

.kFhUBM span{
    text-decoration: none !important;
}

.jWkLDY{
    padding-left: 5px;
}

.jWkLDY .file-types{
    display : none;
}


